<div>
  <a class = "back" routerLink="/listdishes" routerLinkActive="active">Powrót</a>
</div>

<div class = "addDish-container">

  <form [formGroup]="formAddDish" (ngSubmit)="onSubmit()">
    <h2>Dodaj nowe danie</h2>
    <label>
      Nazwa:
      <input type="text" formControlName="name" required>
    </label>
    <p>
      <label>
        <div class="avalBut">Dostępne:</div>
        <input type="checkbox" formControlName="isAvailable">
      </label>
    <p>
      <label>
        Opis:
        <input type="text" formControlName="description" class="description">
      </label>
    <p>
      <label>
        Typ:
        <input type="text" formControlName="type">
      </label>
    <p>
      <label>
        Cena:
        <input type="text" formControlName="price">
      </label>
    <p>
      <button class="button">Zapisz danie</button>
    </p>

    <div class="statusInfo">
      <div *ngIf="formAddDish.status==='VALID'" class="valid">
        Dane poprawne
      </div>
      <div *ngIf="formAddDish.status==='INVALID'" class="invalid">
        Dane niepoprawne, nazwa i typ obowiązkowe, cena musi być liczbą
      </div>
    </div>

  </form>
</div>


